{% for letter in letters %}
    <li class="letter" data-letter="{{ letter.id }}" data-tags="{{ letter.tagIds|json_encode }}" draggable="true">
        <span class="symbol" data-letter-symbol>{{ letter.letter }}</span>
        <span class="sound">{{ letter.sound }}</span>
    </li>
{% endfor %}