{% extends 'theme/base.html.twig' %}

{% block main %}
    <div class="training-index">
        <h1>Trainings</h1>
        <ul class="list">
            {% for training in trainings %}
                <li class="training">
                    <span class="title">{{ training.name }}</span>
                    <a class="link" href="{{ path('app_frontend_training_training', { 'slug': training.slug, 'type': constant('App\\Manager\\TrainingManager::TRAINING_TYPE_SOUND_LETTER') }) }}">Sound -> Letter</a>
                    <a class="link" href="{{ path('app_frontend_training_training', { 'slug': training.slug, 'type': constant('App\\Manager\\TrainingManager::TRAINING_TYPE_LETTER_SOUND') }) }}">Letter -> Sound</a>
                    <a class="link" href="{{ path('app_frontend_training_training', { 'slug': training.slug, 'type': constant('App\\Manager\\TrainingManager::TRAINING_TYPE_RANDOM') }) }}">Random</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
