$color1: #252525;
$color2: #101010;

//$colorTagActive: #2a5bff;
$colorTagActive: #358c16;
$colorTagNot: #ff5555;

$backgroundColorHeader: #fff6ab;

$backgroundColorFilter: #e5f8ff;
$backgroundColorFilterDropZone: #3eccff;
$backgroundColorTag: #d0f5ff;
//$backgroundColorTagHover: #a7e7ff;
$backgroundColorTagActive: #76dfff;
$backgroundColorTagNot: #ffd4d4;

$backgroundColorLetters: #e0ffe4;
$backgroundColorLettersDropZone: #5eff72;
$backgroundColorLetter: #cfffd6;

$backgroundColorOutputArea: #e0e6ff;
