$color1: #252525;

$backgroundColorHeader: #fff6ab;

$backgroundColorFilter: #e5f8ff;
$backgroundColorFilterDropZone: #3eccff;
$backgroundColorTag: #d0f5ff;
$backgroundColorTagHover: #a7e7ff;
$backgroundColorTagActive: #76dfff;

$backgroundColorLetters: #e0ffe4;
$backgroundColorLettersDropZone: #5eff72;
$backgroundColorLetter: #cfffd6;
$backgroundColorLetterHover: #abffb6;

$backgroundColorOutputArea: #e0e6ff;
