<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        {% if block("canonical_url") %}<link rel="canonical" href="{% block canonical_url %}{% endblock %}" />{% endif %}
        {% if block("meta_description") %}<meta name="description" content="{% block meta_description %}{% endblock %}" />{% endif %}
        {% if block("og_url") %}<meta name="og:url" content="{% block og_url %}{{ app.request.uri }}{% endblock %}" />{% endif %}
        {% if block("og_title") %}<meta name="og:title" content="{% block og_title %}{% endblock %}" />{% endif %}
        {% if block("og_description") %}<meta name="og:description" content="{% block og_description %}{% endblock %}" />{% endif %}
        {% if block("og_image") %}<meta name="og:image" content="{% block og_image %}{% endblock %}" />{% endif %}
        {% if block("robots") %}<meta name="robots" content="{% block robots %}{% endblock %}" />{% endif %}
        {% if block("page_title") %}<title>{% block page_title %}{% endblock %}</title>{% endif %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('base', null, 'theme') }}
        {% endblock %}
    </head>
    <body>
    {% block body %}
        <div class="container">
            {% block header %}
                <header>
                    <a href="{{ path('app_default_index') }}" class="undecorated-link"><h1>Japanese Texter</h1></a>
                </header>
            {% endblock %}
            {% block main %}{% endblock %}
        </div>
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('base', null, 'theme') }}
    {% endblock %}
    </body>
</html>
